@charset "utf-8";

//マップ型変数breakpointsを定義
$breakpoints: (
//キー　　値
 'sm': 'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
 'md': 'screen and (min-width: 768px)' //768px以上（タブレット・PC）用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

/*/////////////////////////color///////////////*/
$primary-color : #3EA1D1;
$font-color :#333; 

@include mq(sm){
    .is-pc{
        display:none;
    }
}
@include mq(md){
    .is-sp{
        display:none;
    }
}

a{
    text-decoration: none;
}
ul{
    list-style:none;
}

body{
    font-size:16px;
    color:$font-color;
    font-family: "ヒラギノ明朝 ProN","serif";
    line-height: 1.6875;
}

img{
    width:100%;
}

header{
    background: #fff;
    z-index:10 ;
    position: fixed;    
    top:0;
    left:0;   
    right:0;

    .drawer-hamburger-icon{
        background:$primary-color;

        &::before,
        &::after{
            background:$primary-color;
        }
     
     }
}
.inner{
    padding:0 40px;
    max-width:1200px;
    margin:0 auto;
    box-sizing: content-box;
    @include mq(sm){
        padding:0 15px;
    }
}

.header-inner{
   
    display: flex;
    align-items: center;
    @include mq(sm){
        height:60px;
    }
}

#header-nav{
    margin-left:auto;
        
    @include mq(sm){
        background-color: $primary-color;
        top:60px;
    }
}

.header-logo{
    width:120px;
    
}

.header-nav-list{
    @include mq(md){
        display: flex;

    }

}



.header-nav-item{
    @include mq(md){
        margin-left:40px;
        text-align: center;
    }

    @include mq(sm){
        text-align: right;
        margin-right: 15px;
        margin-top: 40px;
        height:18px;
        line-height: 18px;
        
    }
    height:70px;
    line-height: 70px;
}

.header-nav-link{
        display: block;
        color:$font-color;
        letter-spacing: .1em;
        @include mq(sm){
            color:#fff;
        }
        
}






.top-picture{
    margin-left:auto;
  
}
.main{
    padding-top:70px;
    @include mq(sm){
        padding-top: 60px;
    }
}
.space{
    @include mq(md){
        margin-bottom:160px;

    }
    @include mq(sm){
        margin-top: 96px;
    }
}

.util-title{
    font-size:40px;
    color:$font-color;
    text-align: center;

    @include mq(sm){
        flex: 30px;
        margin-bottom: 48px;
        margin-top:0;
    }

    &::after{
        content:"";
        display:block;
        background-color:$primary-color;
        top:0;
        height:1px;
        width:60px;
        margin:auto;
    }
}

.top{
    position:relative;
}
.top-picture{
    @include mq(md){
    background: url(/img/PC/top.png) top right / 82.5% no-repeat;
    padding-top:55%;
    }

    @include mq(sm){
        background: url(/img/SP/top.png) center center/ cover;
        padding-top: 120%;
    }

}
.top-message{
    @include mq(md){
    position: absolute;
    background: #fff;
    left:0;
    top:50%;
    transform: translate(0,-50%);/*/文字の分だけ/*/
    }
    @include mq(sm){
        text-align: center;
    }
   
}
.top-message-title{
    font-size:26px;
    padding-top: 60px;
    @include mq(sm){
        padding-top: 40px;
    }
}
.top-message-text{
    padding:0 40px 60px 0;
}

.concept-inner{
    @include mq(md){
    display: flex;
    }
    margin-top: 50px;
    align-items: center;
    
}
.concept-message{
    margin-left: 6.6%;
    @include mq(md){
        max-width:50%;

    }
    .concept-title{
        font-size:20px;
        padding-bottom: 20px;
        font-weight:bold;

        @include mq(sm){
            padding-top: 40px;
            padding-bottom: 32px;
        }
    }
}

.feature{
    @include mq(sm){
        max-width:340px;
    }
}

.feature-items{
    @include mq(md){
    display: flex;
    justify-content: space-between;
    }
    @include mq(sm){
        margin-top: 48px;
       
    }
}

.feature-item-body{
    background: #fff;
    text-align: center;
    padding:5% 20%;
}
    

.feature-item{
    @include mq(md){
    width:28%;}
    box-shadow:3px 3px 15px rgba(96, 96, 96, 0.16);

    @include mq(sm){
        & + &{
            margin-top: 49px;
        }
    }
}


/*////////////////about///////////*/

.about{
    position: relative;
    color:#fff;
    @include mq(md){
        background-image: url(/img/PC/bg.png);
        background-size: cover;
        margin-top: 140px;
    }

    @include mq(sm){
        background: url(/img/SP/bg.png);
        background-size: cover;
        margin-top: 96px;
    }

    &::before{
        content:"";
        display: block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: rgba(0,0,0,.12);
    }
}

.about-message-title{
    @include mq(md){
        padding-left: 40px;
        padding-top: 126px;
        font-size: 22px;

    }
    @include mq(sm){
        font-size: 20px;
        padding: 182px 20px 0 10px;
       
    }
}

.about-message-text{
    @include mq(sm){
        padding-left: 40px;
        margin-top: 40px;

        padding-bottom: 120px;
    }

    @include mq(sm){
        font-size: 14px;
        padding:32px 20px 55px 10px;

    }
}


.products{
    max-width:940px;
    
}

.products-items{
    @include mq(md){
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    }
}

.products-item{
    @include mq(md){
    width:27%;
}
    @include mq(sm){
        & + &{
            margin-top: 46px;
        }
    }
}
.products-item-body{
    font-size: 14px;
        .products-price{
            color:rgba(152, 152, 152, 1)
        }
}

.products-item-link{
    display: block;
}

.products-btn{
    text-align: center;
    margin-top: 46px;
   
}
.util-link{
    display: block;
    color:#3EA1D1;
   border:1px solid #3EA1D1;
   margin:auto;
   max-width:49px;
   max-height: 14px;
   padding:16px 54px;
   font-size: 14px;
   box-sizing: content-box;
   line-height: 14px;
}

/* news */

.news{
    max-width: 1040px;
    margin:0 auto;
    padding:0 120px;

    @include mq(sm){
        padding:0 32px;
    }
   
}

.news-item-link{
    @include mq(md){

     display: flex;
     align-items: center;
    }
    display: block;
}
.news-list{
    border-bottom: 1px solid #888;
    padding: 24px 0;
    
}

.news-img {
    max-width: 260px;
    margin-top: 16px;
    max-height: 160px;

    @include mq(sm){
        max-width: 310px;
        max-height: 191px;
    }
}

.news-img img{
    width:260px;
    height:160px;

    @include mq(sm){
        width: 310px;
        height: 191px;
    }
}

.news-item-title{
    font-size: 18px;
    color:#333;
    font-weight:bold;
    padding-bottom: 24px;
    margin-top: 4px;

    @include mq(sm){
        font-size: 16px;
    }
}

.news-item-day{
    font-size: 14px;
    color:#333;
    @include mq(sm){
        padding-top: 24px;
    }
}

.news-item-day{
    font-size: 14px;
    color:#888;
}
.news-body p,h3{
    margin:0;
}

.news-body{
    @include mq(md){  
    padding-left: 40px;
    max-width: 100%;
    @include mq(sm){
        font-size: 14px;
    }
}
}

/* concept2 */

.concept2-inner{
    @include mq(md){
    display: flex;
    flex-direction: row-reverse;
}
}

.concept2-img{
    max-width: 600px;
    max-height: 400px;
}

.concept2-img img{
    @include mq(md){
    width: 600px;
    height: 400px;
}
}

.concept2-title{
    color:#333;
    @include mq(md){
        margin-right: 206px;
        margin-top: 102px;
        font-size: 28px;
        margin-bottom: 48px;
    }
    @include mq(sm){
        font-size: 20px;
        padding-top: 40px;
        padding-bottom: 32px;
    }
}

.concept2-text{
    color:#333;
    @include mq(md){
        margin-right: 80px;
        margin-bottom: 102px;
    }
    @include mq(sm){
        font-size: 14px;
        margin-bottom: 96px;
        line-height: 1.7;
    }
}

.concept2{
    margin-top: 160px;
}
/* contact */

.contact{
    background:url(/img/PC/contact.png);
    background-size: cover;
    padding-top: 72px;
    @include mq(sm){
        margin-top: 92px;
        padding:57px 27px;
    }
    
}


.contact-top-text,.contact-item-text{
    color:#E7728E;
}

.contact-list{
    @include mq(md){

    display: flex;
    }
    & + &{
        margin-top: 32px;
    }
}

.contact-lists{
    max-width: 510px;
    margin:0 auto;
}

.contact-item-title{
    background:rgba(62, 161, 209, 0.7);
    color:#fff;
    text-align: center;
    width: 180px;
    height:40px;
    line-height: 40px;
    padding-left: 10px;
    
    position:relative;
    font-size: 18px;
    

    @include mq(sm){
        display: inline-block;
        font-size: 14px;
        height:32px;
        line-height:32px;
        padding:0 16px;
        margin-bottom: 3px;

    }
    @include mq(md){
        &::after{
            content:"";
            display: block;
            position:absolute;
            top:0;
            right:-8px;
            border-style: solid;
            border-width: 20px 0 20px 8px;
            border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);;
        }
    }
    }

.contact-top,.contact-bottom{
    text-align: center;
}

input[type="text"],input[type="e-mail"]{
    @include mq(md){
    width:320px;
    height:34px;
    }   
}
textarea{
    width:320px;
    height:122px;
    resize:vertical;
}

.contact-radio-box{
    display: flex;
}

.contact-item-form{
    width:320px;
    margin-left: 20px;
    box-sizing: content-box;
}


.contact-radio{
    border-radius: 1px;
    background: #fff;
    color:$primary-color;
    box-shadow:5px 5px 15px rgba(96, 96, 96, 0.16);
    position:relative;
    display: block;
    height:38px;
    width:80px;
}

.contact-input-none{
    opacity:0;
    position:absolute;
    top:0;
    left:0;

    
}
    .contact-radio-text{
        display: block;
        font-size: 16px;
        text-align: center;
        height:38px;
        width:80px;
   
            line-height:38px;

        border:1px solid #fff;
        
    }
    

.contact-privacy-link{
    text-decoration: underline;
}

.contact-bottom-privacy{
    display: block;
    margin-top: 32px;
    margin-bottom: 51px;
}
.util-link{
   display: block;
    margin-bottom: 85px;
}


/* footer */

footer{
    background: #F7F7F7;
   
}

.footer-logo{
    width:120px;
    height:22px;
    padding-top: 48px;
    margin:0 auto;
}

.footer-items{
    
    display: flex;
    justify-content: center;
    font-size: 12px;
    color:#333;
    margin-top: 24px;
    margin-bottom: 37px;
    padding:0;
}

.footer-item{
    & + &{
       
            margin-left: 32px;
        
    }
}

.footer-sns{
    display: flex;
    justify-content: center;
    padding:0;
}

.footer-bottom{
    text-align: center;
    padding-bottom: 17px;
}
.footer-sns-item{
    
    & + &{
        margin-left: 40px;
    }
}

.footer-sns-item-link{
    color:&$primary-color;
    font-size: 25px;
}